VITE_APP_TITLE=CiPData Lookup
VITE_APP_SUBTITLE=เมนูเริ่มต้นสำหรับ migration ออกจาก Google Apps Script
VITE_LINK_POS_APP=https://script.google.com/macros/s/AKfycbxj11P8kv2Ps_cPUTdO_4ge-Luj11ucFgNB099kXI-XFYheYrQPe5Q1erTDCDxE137c/exec
VITE_LINK_LOOKUP=https://sc-cipdata-lookup-web.onrender.com/
VITE_LINK_CI_UPLOAD=https://script.google.com/macros/s/AKfycbzFhKGsmuEed-uX8hYEHUAcLeEDqIAm1FyklERM0_lpFV69O3TFaRLfgoxNHI8vd1rz/exec
VITE_LINK_INBOUND_INVENTORY=https://sc-stockday-ordering.onrender.com/
VITE_LINK_RX1011=https://akcd1998.github.io/RepWeb1011/#/
